.page-header
  %h2
    Existing Goals
    = link_to "Reload", reload_goals_path, method: :post, class: %i(btn btn-default), id: "goals-reload"
.row
  %table.table.table-bordered#configured-goals
    %thead
      %tr
        %td ID
        %td Provider
        %td Metric
        %td Status
        %td Beeminder Link
        %td Last Datapoint
    %tbody
      - goals.each do |goal|
        %tr
          %td= goal.id
          %td= goal.provider_link
          %td= goal.metric_link(goal.id)
          %td= goal.status
          %td= goal.beeminder_link(current_user.beeminder_user_id)
          %td= goal.last_score

