- content_for :title do
  Nectar | 
  = provider.title
.container
  .row
    %h1
      = provider.title
    %h2
      = credential.status
      = link_to "Disconnect", credential, method: :delete, "data-confirm": "This action will disconnect all goals for #{provider.title}. Are you sure?", class: %(btn btn-default)
  .row
    .page-header
      %h3 Add Goal
    %ul
    - providers.take_while{ |provider| provider == credential.provider }.each do |provider|
      - provider.metric_links.each do |link|
        %li
          = link
  .row
    - if current_user && current_user.goals.count > 0
      .page-header
        %h3
          Current Goals
          = link_to "Reload", reload_goals_path, method: :post, class: %i(btn btn-default), id: "goals-reload"
      %table.table.table-bordered#configured-goals
        %thead
          %tr
            %td Name
            %td Status
            %td Beeminder Link
            %td Last Datapoint
        %tbody
          - goals.each do |goal|
            %tr
              %td= goal.metric_link
              %td= goal.status
              %td= goal.beeminder_link(current_user.beeminder_user_id)
              %td= goal.last_score
  .row
    .col-lg-4
      - if provider.public? || provider.password_auth?
        .page-header
          %h3 Configure Provider
        = form_for credential do |f|
          = f.hidden_field :provider_name, value: provider.name
          .form-group
            = f.label :user_id
            = f.text_field :uid, class: "form-control"
          - if provider.password_auth?
            .form-group
              = f.label :password
              = f.password_field :password, class: "form-control"
          = f.submit "Save", class: %(btn btn-default)

